<div id="maincontent" class="page-container scrollable" role="main">
  <!-- <button type="button" class="btn-secondary" id="toggleEdit" style="margin: 0 0 15px 20px;">Toggle Edit Mode</button> -->
  <!-- <div class="testx" id="testx" draggable="true">Test</div> -->
  <img id="testx" class="testx" src="https://www.infor.com/img/logo-infor.png" draggable="true"/>
  
  <!-- <div class="homepage" data-columns="3" data-use-small="true">
    <div class="content"> -->

      <!-- <div class="small-widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 1) - A</h2>
        </div>
      </div> -->

      <!-- <div class="small-widget double-width no-remove" id="test1" draggable="true">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 2x1 (Dom Order 2) - B</h2>
        </div>
      </div> -->

      <!-- <div class="small-widget">
        <div class="widget-header">
          <h2 tabindex="0" class="widget-title">Widget 1x1 (Dom Order 3) - C</h2>
        </div>
      </div> -->

      <!-- <img id="test2" src="https://www.infor.com/img/logo-infor.png" /> -->

    <!-- </div>
  </div> -->
</div>
<style>
  .testx {
    position: absolute;
  }
</style>
<script>
$(document).ready(() => {
  function test() {
    var curr_elem = false,
        dmx = 0,
        dmy = 0;
		
		document.ondragover = function (evt) {
			evt = evt || window.event;
		
			dmx = evt.pageX;
			dmy = evt.pageY;
		};

    $(document).on('dragover', (evt) => {
      console.log('x');
			evt = evt || window.event;
		
			dmx = evt.pageX;
			dmy = evt.pageY;
    });


		var elem = document.getElementById('testx');
	
		// elem.addEventListener('click', function (ev) {
    //   console.log('click');
		// 	curr_elem = ev.target;
		// 	return false;
		// });

    $('#testx').on('click', (ev) => {
      curr_elem = ev.target;
			return false;
    });

		// elem.addEventListener('dragstart', function (ev) {
    //   console.log('dragstart', ev);
		// 	ev.stopPropagation();
		// 	ev.cancelBubble = true;
    //   ev.dataTransfer.setDragImage(new Image(), 0, 0);

		// 	return false;
		// }, false);



    $('#testx').on('dragstart', (ev) => {
      console.log('dragstart', ev);
      ev.stopPropagation();
			ev.cancelBubble = true;
      return false;
    }, false);

    $('#testx').on('dragenter', (ev) => {
      ev.preventDefault();
    });

		// elem.addEventListener('drag', function (ev) {
		// 	ev.target.style.opacity = 1;
		// 	ev.target.style.left = (dmx - ev.target.offsetWidth / 2) + 'px';
		// 	ev.target.style.top = (dmy - ev.target.offsetHeight / 2) + 'px';
		// 	ev.stopPropagation();
		// 	ev.cancelBubble = true;
		// 	return false;
		// }, false);

    $('#testx').on('drag', (ev) => {
      ev.target.style.opacity = 1;
			ev.target.style.left = (dmx - ev.target.offsetWidth / 2) + 'px';
			ev.target.style.top = (dmy - ev.target.offsetHeight / 2) + 'px';
			ev.stopPropagation();
			ev.cancelBubble = true;
			return false;
    });

		// elem.addEventListener('dragend', function (ev) {
		// 	console.log(ev.target.style.left, ' : ', ev.target.style.top);
		// 	curr_elem = ev.target;
		// });
    $('#testx').on('dragend', (ev) => {
      console.log(ev.target.style.left, ' : ', ev.target.style.top);
      curr_elem = ev.target;
    });
  }
  // setTimeout(test, 500);
  test();
});
</script>
